doctype 5
html(lang="en")
  head
    title Title
    link(rel='stylesheet', href='/css/main.css')
    script(type='text/javascript', src='js/app.js')
    script(type='text/javascript')
      console.log();
  body
    h1 Get Started
    #main
      p :O
